/* styles.css */
.formContainer {
    padding: 20px;
    margin-top: 20px;
  }
  
  .formPaper {
    padding: 20px;
    margin-top: 20px;
  }
  
  .cardContainer {
    margin-top: 20px;
  }
  
  .cardContent {
    padding: 20px;
  }
  

  .image-item {
    width: 120px;
    /* Set the width of each image item */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&family=Mukta:wght@300&family=Nunito+Sans:opsz,wght@6..12,300&family=Satisfy&display=swap');

* {
    box-sizing: border-box;
}

.main {
    background: url(https://cdn.pixabay.com/photo/2013/10/27/17/14/snowfall-201496_1280.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    min-height: 70vh;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 900px;
    height: 350px;
}

.left-container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.left-container-card img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.right-container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 600px;
    height: 350px;
    margin: 1vw;
    border-radius: 10px;
}

.right-container-card h1 {
    font-family: 'Satisfy', cursive;
    font-size: 45px;
}

.right-container-card p {
    font-family: 'Fira Sans', sans-serif;
    padding: 0px 30px;
    font-size: 18px;
}

@media only screen and (max-width: 1024px) {
    .container-card {
        display: flex;
        flex-direction: column;
        width: 450px;
        height: auto;
    }

    .left-container-card {
        width: 450px;
        height: 300px;
    }

    .left-container-card img {
        width: 450px;
        height: 350px;
    }

    .right-container-card {
        width: 450px;
        height: 400px;
        margin: 1vh;
    }

    .right-container-card p {
        margin: 20px;
        padding: 20px;
    }

    .credit {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 630px) {
    .container-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    .left-container-card {
        width: 95%;
        height: 250px;
    }

    .left-container-card img {
        width: 100%;
        height: 250px;
    }

    .right-container-card {
        width: 95%;
        height: 300px;
        margin: 1vh;
    }

    .right-container-card h1 {
        font-size: 25px;
    }

    .credit {
        margin-bottom: 10px;
    }
}

.credit a {
    text-decoration: none;
    color: #000;
    font-weight: 800;
}

.credit {
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}